*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:visited {
  text-decoration: none; }

img {
  max-width: 100%; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3b3b3; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b3b3b3; }

.fas {
  padding-left: 1.5rem; }

.slick-arrow {
  display: none !important; }

.slick-slide {
  height: 26.45rem; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  font-size: 1.8rem; }

p {
  font-size: 1.8rem;
  letter-spacing: normal; }

a:link,
a:visited {
  color: #540cfa; }

.heading-primary,
.heading-secondary {
  font-weight: 900;
  font-stretch: normal;
  line-height: 1.14; }

.heading-primary {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 4.2rem; }

.heading-secondary {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3.5rem; }

.heading-tertiary {
  margin-bottom: .8rem;
  font-weight: bold;
  font-size: 1.8rem; }

.section-title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 1.19;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .section-title--white {
    color: #fff; }

.text-primary {
  color: #540cfa; }

.text-center {
  text-align: center; }

.nav {
  height: 5rem;
  padding: 1.3rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.97); }
  .nav__brand {
    font-weight: bold;
    font-stretch: normal;
    color: #000;
    line-height: normal;
    letter-spacing: normal;
    text-align: center; }

.btn:link, .btn:visited {
  text-decoration: none;
  color: #fff;
  padding: .6rem 1.7rem;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  display: inline-block; }

.btn--link:link, .btn--link:visited {
  color: #540cfa;
  padding: 1.5rem 0;
  font-size: 1.6rem; }

.btn--form {
  flex: 1 1 auto;
  font-size: 1.4rem;
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #540cfa;
  color: #fff;
  font-weight: bold; }

.btn--primary {
  background-color: #540cfa;
  box-shadow: 0 2px 4px 0 rgba(60, 9, 179, 0.3); }

.btn--lg:link, .btn--lg:visited {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem; }

.features__title {
  font-size: 1.6rem;
  color: #333333; }

.features__info {
  margin-bottom: 1rem; }

.features__list .feature {
  margin: 5rem 0; }
  .features__list .feature__image {
    width: 6rem;
    height: 6rem; }

.cta-form {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  position: relative; }
  .cta-form__input {
    flex: 0 0 55%;
    outline: 0;
    font-size: 1.6rem;
    color: #b3b3b3;
    padding: 2.5rem 0 1rem 1.5rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0; }
  .cta-form__label {
    position: absolute;
    top: .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #540cfa;
    left: 1.5rem; }

.tv-shows__thumbnail {
  height: 100%; }

.showcase {
  padding-top: 6rem;
  padding-bottom: 7rem; }
  .showcase__paragraph {
    font-size: 1.6rem; }
  .showcase__list {
    list-style-type: none;
    margin-top: 3rem;
    margin-bottom: 4.3rem;
    font-weight: 600; }
    .showcase__list-item {
      display: flex;
      align-items: center;
      padding: 1.7rem; }
      .showcase__list-item:not(:last-child) {
        margin-bottom: 1.5rem; }
      .showcase__list-item:not(:first-child) {
        color: gray; }
      .showcase__list-item--active {
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1); }
  .showcase__icon {
    height: 2rem;
    margin-right: 1.7rem; }

.community {
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-color: #000; }
  .community__title {
    color: white;
    font-size: 1.6rem; }
  .community__paragraph {
    color: white;
    font-weight: normal;
    margin-bottom: 4rem; }

.testimonial {
  min-width: 26rem;
  min-height: 21rem;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 5rem;
  margin-right: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.08); }
  .testimonial__container {
    display: flex;
    min-width: 100%;
    overflow-y: scroll; }
  .testimonial__header {
    display: flex;
    align-items: center; }
  .testimonial__image {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: .8rem; }
  .testimonial__name {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin-right: auto; }
  .testimonial__social-icon {
    width: 1.8rem;
    height: auto; }
  .testimonial__text {
    font-size: 1.3rem;
    padding-top: 1.4rem;
    font-weight: normal;
    line-height: 1.54;
    color: #cccccc; }
  .testimonial__date {
    color: gray;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: auto; }

.get-started {
  padding-top: 7rem;
  padding-bottom: 5rem; }
  .get-started__title {
    color: #333333;
    font-size: 1.6rem;
    line-height: normal; }
  .get-started__paragraph {
    font-weight: normal;
    color: #333333; }
  .get-started .cta-form {
    margin-top: 3rem;
    margin-bottom: 0; }

.row {
  width: 91.4%;
  margin: 0 auto; }

.header__squares {
  position: absolute;
  z-index: -1; }
  .header__squares--left {
    top: 98rem;
    width: 9rem; }
  .header__squares--right {
    top: 45rem;
    right: 0;
    width: 20rem; }

.header__compatible-with {
  width: 100%; }
  .header__compatible-with-title {
    color: #b3b3b3;
    display: block;
    margin-bottom: 1.3rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .header__compatible-with-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between; }
    .header__compatible-with-list img {
      max-height: 2.5rem; }

.header__iphone-container {
  padding-top: 4.3rem;
  padding-bottom: 8rem; }

.header__iphone-img {
  display: block;
  margin: 0 auto; }

.footer {
  padding-top: 5rem;
  padding-bottom: 4rem; }
  .footer__social-icons-list {
    list-style-type: none;
    display: flex;
    width: 15rem;
    margin: 0 auto;
    justify-content: space-around; }
    .footer__social-icons-list img {
      height: 1.6rem;
      width: auto; }
  .footer__copyright {
    font-size: 1.1rem;
    color: #b3b3b3;
    font-weight: normal;
    margin-top: 3rem; }
