*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:visited {
  text-decoration: none; }

img {
  max-width: 100%; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3b3b3; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b3b3b3; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  font-size: 1.8rem; }

p {
  font-size: 1.8rem;
  letter-spacing: normal; }

.heading-primary,
.heading-secondary {
  font-weight: 900;
  font-stretch: normal;
  line-height: 1.14; }

.heading-primary {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 4.2rem; }

.heading-secondary {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3.5rem; }

.text-primary {
  color: #540cfa; }

.nav {
  height: 5rem;
  padding: 1.3rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.97); }
  .nav__brand {
    font-weight: bold;
    font-stretch: normal;
    color: #000;
    line-height: normal;
    letter-spacing: normal;
    text-align: center; }

.btn:link, .btn:visited {
  text-decoration: none;
  color: #fff;
  padding: .6rem 1.7rem;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center; }

.btn--form, .btn--form {
  flex: 1 0 auto;
  font-size: 1.6rem;
  font: inherit;
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #540cfa;
  color: #fff;
  font-weight: bold; }

.btn--primary {
  background-color: #540cfa;
  box-shadow: 0 2px 4px 0 rgba(60, 9, 179, 0.3); }

.row {
  width: 91.4%;
  margin: 0 auto; }

.header__squares {
  position: absolute;
  z-index: -1; }
  .header__squares--left {
    top: 98rem;
    width: 9rem; }
  .header__squares--right {
    top: 45rem;
    right: 0;
    width: 20rem; }

.header__form {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  position: relative; }
  .header__form-input {
    flex: 0 0 55%;
    outline: 0;
    font-size: 1.6rem;
    color: #b3b3b3;
    padding: 2.5rem 0 1rem 1.5rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0; }
  .header__form-label {
    position: absolute;
    top: .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #540cfa;
    left: 1.5rem; }

.header__compatible-with {
  width: 100%; }
  .header__compatible-with-title {
    color: #b3b3b3;
    display: block;
    margin-bottom: 1.3rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .header__compatible-with-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between; }
    .header__compatible-with-list img {
      max-height: 2.5rem; }

.header__iphone-container {
  padding-top: 4.3rem;
  padding-bottom: 8rem; }

.header__iphone-img {
  display: block;
  margin: 0 auto; }
