.header {

  &__squares {
    position: absolute;
    z-index: -1;

    &--left {
      top: 98rem;
      width: 9rem;
    }

    &--right {
      top: 45rem;
      right: 0;
      width: 20rem;
    }
  }

  &__text-container {

  }
  
  &__compatible-with {
    width: 100%;

    &-title {
      color: $color-text-light-gray;
      display: block;
      margin-bottom: 1.3rem;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &-list {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between;

      img {
        max-height: 2.5rem;
      }
    }
  }

  &__iphone-container {
    padding-top: 4.3rem;
    padding-bottom: 8rem;
  }

  &__iphone-img {
    display: block;
    margin: 0 auto;
  }
}