.showcase {
  padding-top: 6rem;
  padding-bottom: 7rem;
  overflow: hidden;

  @media only screen and (min-width: $desktop-size) {
    padding-top: 13rem;
    padding-bottom: 20rem;
  }

  &__container {
    @media only screen and (min-width: $desktop-size) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text-box {
    max-width: 46rem;

    @media only screen and (min-width: $desktop-size) {
      padding-top: 6rem;
    }
  }

  &__paragraph {
    font-size: 1.6rem;

    @media only screen and (min-width: $desktop-size) {
      font-size: 1.8rem;
      opacity: 0.8;
      line-height: 1.56;
    }
  }

  &__list {
    list-style-type: none;
    margin-top: 3rem;
    margin-bottom: 4.3rem;
    max-width: 34rem;
    font-weight: 600;

    &-item {
      display: flex;
      align-items: center;
      padding: 1.7rem;
      transition: all .5s;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &:not(:first-child) {
        color: lighten($color-black, 50%);
      }

      &--active,
      &:hover {
        border-radius: 4px;
        cursor: pointer;
        color: $color-black;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__icon {
    height: 2rem;
    margin-right: 1.7rem;
  }

  &__image-container {
    position: relative;
  }

  &__app-desktop,
  &__app-phone {
    @media only screen and (min-width: $desktop-size) {
      position: absolute;
    }
  }

  &__app-desktop {
    display: none;

    @media only screen and (min-width: $desktop-size) {
      display: inline-block;
      top: 0;
      left: 10rem;
      max-width: 70rem;
    }
  }

  &__app-phone {
    @media only screen and (min-width: $desktop-size) {
      max-width: 30rem;
      top: 15rem;
    }
  }
  
}