.testimonial {
  min-width: 26rem;
  min-height: 21rem;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-top: 5rem;
  margin-right: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.08);

  &__container {
    display: flex;
    min-width: 100%;
    overflow-y: scroll;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: .8rem;
  }

  &__name {
    font-size: 1.2rem;
    color: $color-white;
    font-weight: 600;
    margin-right: auto;
  }

  &__social-icon {
    width: 1.8rem;
    height: auto;
  }

  &__text {
    font-size: 1.3rem;
    padding-top: 1.4rem;
    font-weight: normal;
    line-height: 1.54;
    color: darken($color-white, 20%);
  }

  &__date {
    color: darken($color-white, 50%);
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: auto;
  }
}