.get-started {
  padding-top: 7rem;
  padding-bottom: 5rem;

  &__title {
    color: lighten($color-black, 20%);
    font-size: 1.6rem;
    line-height: normal;
  }

  &__paragraph {
    font-weight: normal;
    color: lighten($color-black, 20%);
  }

  .cta-form {
    margin: 3rem auto 0;
  }
}