body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: $color-black;
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
  letter-spacing: normal;
}

a:link,
a:visited {
  color: $color-primary;
}

.heading-primary,
.heading-secondary {
  font-weight: 900;
  font-stretch: normal;
  line-height: 1.14;
}

.heading-primary {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 4.2rem;

  @media only screen and (min-width: $desktop-size){
    font-size: 7rem;
    margin-top: 0;
    line-height: 1.03;
  }
}

.heading-secondary {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  max-width: 61rem;

  @media only screen and (min-width: $desktop-size) {
    font-size: 6rem;
    margin: 0 auto;
    line-height: 1.05;
  }
}

.heading-tertiary {
  margin-bottom: .8rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.section-title {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 1.19;
  margin-top: 1rem;
  margin-bottom: 2rem;

  &--white {
    color: $color-white;
  }
}