body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: $color-black;
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
  letter-spacing: normal;
}

.heading-primary {
  font-weight: 900;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 4.2rem;
  font-stretch: normal;
  line-height: 1.14;
}